<div class="container">
  <h1>Black and White Spa</h1>
  <form action="/image" method="GET">
    <label for="imagen">Imagen URL:</label><br>
    <input type="text" name="imagen_url" placeholder="https://img.freepik.com"><br> <br>
    <button type="submit">Subir imagen al servidor</button>
  </form>
</div>